@page
@model nscccoursemap_ibadk5304.Pages_Instructors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Instructors</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Last Name
                @* @Html.DisplayNameFor(model => model.Instructor[0].LastName) *@
            </th>
            <th>
                First Name
                @* @Html.DisplayNameFor(model => model.Instructor[0].FirstName) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Instructor) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
