@page
@model nscccoursemap_ibadk5304.Pages_CoursePrerequisites.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CoursePrerequisite</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoursePrerequisite.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoursePrerequisite.Course.CourseCode)- 
            @Html.DisplayFor(model => model.CoursePrerequisite.Course.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoursePrerequisite.Prerequisite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoursePrerequisite.Prerequisite.CourseCode)- 
            @Html.DisplayFor(model => model.CoursePrerequisite.Prerequisite.Title)

        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CoursePrerequisite.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
