@page
@model nscccoursemap_ibadk5304.Pages_Semesters.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Semesters</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Semester[0].Name)
            </th>
            <th>
                Start Date
                @* @Html.DisplayNameFor(model => model.Semester[0].StartDate) *@
            </th>
            <th>
                End Date
                @* @Html.DisplayNameFor(model => model.Semester[0].EndDate) *@
            </th>
            <th>
                Academic Year
                @* @Html.DisplayNameFor(model => model.Semester[0].AcademicYear) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Semester) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicYear.Title)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
